# Rust build artifacts
/target/

# IDE & Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Project-specific ignores
strung.toml
*.bin
*.mp4
/tests/samples/large_test_file
